body {
    background-color: lightblue;
	margin:0;
	padding:0;
}

#maincontainer {
	width:300px;
	height:600px;
	left:0px;
	top:0px;
	border:1px solid grey;
	box-sizing: border-box;
	position:absolute;
	opacity:0;
}
.imgs{
	width:300px;
	height:600px;
	position:absolute;
	left:0px;
	top:0px;
	opacity:0;
}